@tailwind base;
@tailwind components;

.search-box {
    transition: box-shadow .2s linear
}

.nav_link {
    @apply ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center;
    a {
        @apply px-5 py-10;
    }
}

.btn {
    @apply w-full font-medium text-center text-lg rounded-sm py-4 mb-2
}

.btn-link {
    @apply w-full font-medium text-center text-lg rounded-lg py-4 mb-2 text-white bg-red-500
}

input,
textarea,
select {
    @apply w-full font-medium text-lg rounded-sm py-4 px-5 border border-gray-400 text-left focus:outline-none focus:border-gray-600
}

textarea {
    resize: none;
    height: 100px;
}

select {
    height: 50px;
    padding: 5px;
}

form {
    .input {
        @apply w-full mb-2;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-600 focus:border-gray-600
            }
        }
    }
}

@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    5%{
        opacity: 1;
        transform: translateY(20px);
    }
    95%{
        opacity: 1;
        transform: translateY(20px);
    }
    100%{
        opacity: 0;
        transform: translateY(-20px);
    }
}

.message {
    animation: messageFadeIn 5s ease-in-out forwards;

    &.error {
        @apply bg-red-600
    }
    &.debug {
        @apply bg-black
    }
    &.info {
        @apply bg-blue-400
    }
    &.success {
        @apply bg-green-500
    }
    &.warning {
        @apply bg-yellow-400
    }
}

@tailwind utilities;
